*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.footer{
    width: 117.188rem;
    height: 38.75rem;
    background-color: #FFF1ED;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-main{
    display: flex;
    justify-content: space-between;
}

.start{
    height: 7.25rem;
    width:19.563rem;
    margin-top:5em;
    margin-left: 4.5em;
    font-weight: 700;
    font-size: 1.5em;
}

.question{
    margin-left: 7.5em;
    width: 22.438rem;
    height: 3rem;
    margin-top: 3.125em;
    color: #878787;
}

.form{
    margin-left: 7.5em;
    margin-top: 3.125em;
    margin-bottom: -2.438em;
    color: #878787;
}

.bottom{
    border-bottom: 1px solid #878787;
    width: 17.063rem;
    margin-left: 7.5em;
}

.join-btn{
    background-color: #EB6E46;
    border-radius: 6.25em;
    /* padding: 0.625em 2.5em; */
    padding: 1em 2em; 
    margin-left: 19.938em;
    font-size: 1.125em;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    width: 10.375rem;
}

.question-arrow{
    width: 25.063rem;
    height: 1.5em;
    border-bottom: 2.5em;
    margin-top: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon{
    height: 1em;
    width: 1em;
}

.border-line{
    margin-top: 0.938em;
    border: 1px solid #D6D6D6;
    /* width: 401px; */
}

.right-section{
    display: flex;
    flex-direction: column;
    margin-top:6.25em ;
    margin-right: 6.25em;
}

#border-footer{
    border: 1px solid #D6D6D6;
    width: 90rem;
    margin-left: 10em;
    margin-top: 6.563em;
}

.footer-end a{
    text-decoration: none;
    color: black;

}

.footer-end{
    width: 75rem;
    height: 21px;
    display: flex;
    margin-left: 8.75em;
    margin-top: 2.5em;
    gap: 1.563em;
}

.right-top h3{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1.875em;
}

.footer-link{
    display: flex;
    margin-left: 8em;
    gap: 1.25rem;
}

.link-end{
    margin-left: auto;
}

.arrow-head{
    color:#757B8A ;
}
