*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    /* border: 1px solid red; */
}


/* header-section */
.header{
    background-color: #FFF1ED;
    height: 49.875rem;
    width: 117.188rem;
}

#main-logo{
    height: 1.688rem;
    width: 1.688rem;
}

.container{
    height: 7.125rem;
    display: flex;
    align-items: center;
    top: 1.5rem;
    margin-left: 7.5em;
    gap: 4.063rem;
}

#logo-name{
    margin-left: 0.625em;
}

/* navigation-links */
.nav-links a{
    text-decoration: none;
    color: #808080;
    justify-content: space-around;
    font-weight: 400;
    font-size: 1.2em;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2em;

}

#about-link{
    color: #EB6E46;
    font-weight: 700;
}

/* mid-contect */
#header-content{
    width: 36.125rem;
    height: 21.688rem;
    margin-left: 7.5em;
    margin-top: 3.125em;
}

.head-main{
   height: 21.563rem;
}

.head-main h1{
    font-weight: 700;
    font-size: 4.375em;
}

.head-main span{
    font-weight: 500;
    font-size: 1.25em;
    margin-top: 0.625em;
}

.span-desc{
    margin-top: 0.938rem;
    font-weight: 500;
    color: #808080;
}

#btn-free{
    background-color: #EB6E46;
    border-radius: 6.25em;
    margin-top: 3.125em;
    width: 11.375rem;
    height: 3.5em;
    padding-top: 1em;
    padding-left:2rem ;
    padding-right:2rem;
    padding-bottom: 1em;
    font-size: 1em;
    color: white;
    font-weight: 500;
    outline: none;
    border: none;
}

/* right-image */

 #r-logo{
    height: 42.75rem;
    width: 30.188rem;
    margin-left: 69.688em;
    margin-top: -31.938em;
    border-bottom-right-radius: 15.094rem;
    border-bottom-left-radius: 15.094rem;
    position: relative;
}

#overview-logo{
    height: 20.813rem;
    width: 24.063rem;
    position: absolute;
    margin-left:-16.688em ;
    margin-top:-17.625em ;
   
}

#customer-logo{
    width: 20.5rem;
    height: 21.688rem;
    border-radius: 0.5em;
    position: absolute;
    margin-left:-36.125em ;
    margin-top:-3.188rem ;
    
} 
