*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}


/* content-section */
#main-content{
    width: 116.063rem;
    height: 41.125rem;
}
/* advertise-section */
#advertise-content{
    width: 116.063em;
    height: 15.438rem;
}

body{
    overflow-x: hidden;
}

.advertise-banner{
    width: 106rem;
    height: 6rem;
    margin-top: 4.688rem;
    margin-left: 5.5rem;
    gap: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* feature-section */
.content{
    width: 59.35rem;
    height: 28.938rem;
    margin-top: 0.125em;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.063rem;

}


.cards{
    margin-top: 3.125em;
    width: 59.313rem;
    height: 18.188rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75em;
}

.icon{
    width: 17.25rem;
    height: 18.188rem;
    padding: 1.5em;
    /* gap: 3.5em; */
}


#setting-card{
    background-color: #FFF1ED;
}


.icon-details{
    margin-top: 2.5em;
}

.details{
   margin-top:1.25em;
}

.icon-logo{
    width: 3.5em;
    height: 3.5em;
    background-color: #EB6E46;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* about-website */

#website-section{
    width: 116.063em;
    height: 45.313rem;
    background-color: #FFF1ED;
}

#left-logo{
    height: 35.313rem;
    width: 23.625rem;
    border-radius: 11.813rem;
    margin-top: 5em;
    margin-left: 7.5em;
    position: relative;
}

#team-logo{
    width: 33.375rem;
    height: 16.438rem;
    border-radius: 1em;
    margin-top: 26.75em;
    margin-left: -21.313em;
    position: absolute;
}

#play-icon{
    position: absolute;
    margin-top: 20.75em;
    margin-left: -13.813em;
}

.web-desc{
    width: 34.063rem;
    height: 26.375rem;
    margin-top: -26.688em;
    margin-left: 67.313em;
}

.web-desc h1{
    font-weight: 700;
    font-size: 2.813em;
}

.span-desc{
    margin-top: 2.438em;
    
    font-weight: 500;
    color: #808080;
}

.ranks{
    display: flex;
    align-items: center;
}

.rank-rate{
    gap: 1.25rem;
    height: 5.125rem;
    width: 11.25rem;
    margin-top: 3.625em;
}

.rank-rate h2{
    font-weight: 700;
    font-size: 1.875em;
}

/* description-section */ 
.content-description{
    width: 116.063em;
    height: 77.875rem;
} 

.desc-head h1{
    width: 47.375em;
    margin-top: 2.438em;
    margin-left: 7.5em;
    font-weight: 700;
    font-size: 3em;
}

.border-section{
    border: 1px solid #D6D6D6;
   width: 74rem;
    margin-top: 5.25em;
    margin-left: 19em;
}

.section-desc{
    width: 63.5rem;
    height: 6.25em;
    margin-top: 1.563em;
    margin-left: 19em;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.left-sec h4{
    font-size: 1.5em;
}

.right-sec h3{
    font-size: 1.125em;
    font-weight: 400;
}

#explore-btn{
    width: 13rem;
    height: 3.5em;
    margin-top: 6.25em;
    margin-left: 58.688em;
    border-radius: 6.25em;
    padding: 1em 2em;
    background-color: #EB6E46;
    color: white;
    font-weight: 900;
    font-size: 0.938em;
    outline: none;
    border: none;
}

/* expert-section */
#expert-content{
    width: 117.188em;
    height: 34.375rem;
    margin-top: 137.5em;
}

.expert-section{
    width: 75rem;
    height: 34.5rem;
    margin-top: 1.875em;
    margin-left: 18.75em;
}

.about-expert{
    width: 75rem;
    height: 25rem;
    margin-top: 2.5em;
    display: flex;
    gap: 1.938rem;
}

.expert-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expert-head span{
    color: #757B8A;
    font-weight: 500;
}

.expert-head h1{
    font-weight: 700;
    font-size: 2.5em;
}

.expert-description{
    margin-top: 1.25em;
}

.expert-description h5{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0.625em;
}

.expert-description span{
    font-weight: 500;
    font-size: 1em;
}

/* question-section */

#question-container{
    width: 117.188em;
    height: 34.375rem;
    font-family:  "Inter", serif;
}

.question-content{
    width: 62.125rem;
    height: 37.375rem;
    margin-top: 5em;
    margin-left:25.688em;
}

.question-head{
    margin-bottom: 5em;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
}


.content-question-head{
    width: 62.125rem;
    height: 5.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-question{
    width: 62.125rem;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    color: #757B8A;
   margin-bottom: 1.875rem;
}

.span-item{
    font-family:  "Inter", serif;
    font-size: 14px;
}

#second-content{
    margin-top: 10px;
}

.right-sign{
    display: flex;
    justify-content: space-between;
}
/* contact-section */

#contact-content{
    width: 117.188rem;
    height: 41.188rem;
}

.contact-banner{
    width: 73.813rem;
    height: 28.125rem;
    background-color: #EB6E46;
    margin-left:18.375em;
    border-radius: 1em;
    margin-top: 9.375em;
   
}

.contact-head{
    width: 40.313rem;
    height: 19.125rem;
    margin-left:7.25em;
    margin-top: 5em;
    color: white;
    padding-top:5.375em;
}

.contact-logo{
    width: 43.063rem;
    margin-top: -20.063rem;
    margin-left:37.938rem;
}

.contact-head h1{
    font-size: 3em;
}

.contact-head span{
    color: white;
    font-size: 1em;
}

#btn-contact{
    border-radius: 6.25em;
    margin-top: 3.125em;
    width: 11.375rem;
    height: 3.5em;
    padding-top: 1em;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1em;
    font-size: 14px;
    color: #EB6E46;
    font-weight: 700;
    outline: none;
    border: none;
}